name: Django CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: ncbw_training
          POSTGRES_USER: ncbw_user
          POSTGRES_PASSWORD: ncbw_password
